body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

.header {
    top: 0;
    background-color: rgb(20, 20, 20); /* Green background */
    color: #ff6e27; /* White text */
    padding: 10px 0; /* Some padding */
    font-size: 24px; /* Larger font size */
    position: fixed;
    width: 100%;
}

.header a {
    color: hsl(20, 100%, 58%);
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    animation: forwards;
    animation-duration: 0.8ms;
}

a:hover {
    color: hsla(20, 100%, 58%, 0.684);
    font-size: 19px;
}

.navbar {
    margin-top: 20px;
    background-color: rgb(30, 30, 30);
    padding: 10px 0;
}

.img-header {
    padding: 10px;
    width: fit-content;
    max-width: 1980px;
    height: auto;
    margin: 20px auto;
}

.text-content {
    background-color: rgba(20, 20, 20, 0.9);
    color: hsl(20, 100%, 58%);
    padding: 40px;
    font-size: 20px;
    line-height: 1.6;
    max-width: 600px;
    margin: 60px auto;
    border-radius: 12px;
}

.container {
    background-color: rgb(20, 20, 20);
    color: hsl(20, 100%, 58%);
    padding: 20px;
    border-radius: 20px;
    margin: 240px auto;
    max-width: 400px;
}

.footer {
    background-color: rgb(20, 20, 20); /* Green background */
    color: hsl(20, 100%, 58%); /* White text */
    padding: 10px 0; /* Some padding */
    font-size: 24px; /* Larger font size */
    position: fixed;
    width: 100%;
    bottom: 0;
}
